.details_wrap{
	width: 89%;
    min-width: 1200px;
    color: #666;
    float: left;
}
/*面包屑*/
.nav_bread{
	padding:0 16px;
}
.nav_bread h1{
	font-size: 16px;
	padding:16px 0 ;
	color: #666;
}
.nav_bread h2{
	font-size: 12px;
	color: #666;
	height: 30px;
	line-height: 30px;
    text-indent: 15px;
}
.nav_bread h2 span{
	display: inline-block;
	width: 100%;
	float: left;
	background: #f5f5f5;
}
/*基本信息*/
.basic_msg{
	height: 136px;
	padding:0 16px; 
	margin-top:16px;
}
.basic_msg ul{
	width: 100%;
	height: 102px;
	padding:16px 0;
	border:1px solid #4a8bc2;
}
.basic_msg ul li{
	float: left;
	height: 100px;
	padding:0 1%;
}
.basic_msg ul li.lis_1{
	width:28%;
	border-right:1px solid #4a8bc2;
}
.basic_msg ul li.lis_1 p.cor_name{
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
}
.basic_msg ul li.lis_1 p.cor_name span{
	font-size:16px;
	float: left;
}
.basic_msg ul li.lis_1 p.cor_name i{
	float: left;
	width:26px;
	height: 24px;
	background:url(../imgs/manager/vip.png) no-repeat;
}
.basic_msg ul li.lis_1 p.cor_name b{
	font-size: 12px;
	color: #74b749;
	text-decoration: underline;
}
.basic_msg ul li.lis_1 p.order_amount span{
	font-size:12px;
	margin-right:20px;
}
.basic_msg ul li.lis_1 p.personal{
	margin-top: 10px;
	font-size:14px;
	color:#cc0000;
}
.basic_msg ul li.lis_2{
	width:13%;
	border-right:1px solid #4a8bc2;
}
.basic_msg ul li.lis_3,
.basic_msg ul li.lis_4{
	width:18%;
	border-right:1px solid #4a8bc2;
}
.basic_msg ul li.lis_2 p,
.basic_msg ul li.lis_3 p,
.basic_msg ul li.lis_4 p{
	height: 35px;
	line-height: 35px;
}
.basic_msg ul li.lis_3 p i,
.basic_msg ul li.lis_4 p i{
	float: right;
	margin-top:10px;
}
.basic_msg ul li.lis_3 p i.tel,
.basic_msg ul li.lis_4 p i.tel{
	width:16px;
	height: 13px;
	background:url(../imgs/manager/tel.png) no-repeat;
	margin-right: 10px;
}
.basic_msg ul li.lis_3 p i.msg,
.basic_msg ul li.lis_4 p i.msg{
	width:14px;
	height: 12px;
	background:url(../imgs/manager/msg.png) no-repeat;
}
.basic_msg ul li.lis_3 p i.qq,
.basic_msg ul li.lis_4 p i.qq{
	width:56px;
	height: 18px;
	background:url(../imgs/manager/qq.png) no-repeat;
}
.basic_msg ul li.lis_5 h3{
	font-size: 16px;
	color:#cc0000;
	margin-bottom: 13px;
	text-align: center;
}
.basic_msg ul li.lis_5 p.showAllCon{
	font-size:12px;
	color:#cc0000;
	margin-bottom: 10px;
	text-align: center;
}
.basic_msg ul li.lis_5 p.add_concat{
	font-size:12px;
	color:#74b749;
	text-decoration: underline;
	text-align: center;
}
.modify_msg ul li.lis_1 p.cor_name input{
	width: 100%;
	height: 27px;
	border:1px dashed #ccc;
}
.modify_msg ul li.lis_1 p.order_amount{
	height: 30px;
	line-height: 30px;
}
.modify_msg ul li.lis_1 p.order_amount i.grade{
	float: left;
	width:26px;
	height: 24px;
	background:url(../imgs/manager/vip.png) no-repeat;
}
.modify_msg ul li.lis_1 p.order_amount b{
	font-size: 12px;
	color: #74b749;
	text-decoration: underline;
	margin-right: 30px;
}
.modify_msg ul li.lis_2 p input{
	width: 71%;
	height: 25px;
	border: 1px dashed #ccc;
}
.modify_msg ul li.lis_4 p input{
	width: 50%;
	height: 25px;
	border: 1px dashed #ccc;
}
.businessMsg,.order_details{
	height: auto;
	margin-top:16px;
	padding: 0 16px;
}
.businessMsg>p{
	height: 30px;
	background: #4a8bc2;
}
.businessMsg>p span{
	float: left;
	width: 100px;
	height: 26px;
	background: #fff;
	line-height: 26px;
	text-align: center;
	color: #4a8bc2;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 48px;
}
.businessMsg>p b{
    font-size: 22px;
    color: #fff;
    margin-left: 10px;
}
.businessMsg>p label{
	line-height: 30px;
	color: #fff;
	margin-left: 18px;
}
table{
	width: 100%;
}
.businessMsg table th{
	height: 30px;
	border: 1px solid #4a8bc2;
	color: #4a8bc2;
}
.businessMsg table td{
	border: 1px solid #4a8bc2;
	height: 30px;
	text-align: center;
}
.businessMsg table td span,.order_details table td span{
	width:14px;
	height:14px;
	background:url(../imgs/common/check1.png) center no-repeat;
	display:block;
	margin: auto;
}
table td a{
	color: #74b749;
	text-decoration: underline;
}
.order_details>p{
	height: 30px;
	background: #4a8bc2;
}
.order_details>p span{
	float: left;
	width: 100px;
	height: 26px;
	background: #fff;
	line-height: 26px;
	text-align: center;
	color: #4a8bc2;
	font-size: 14px;
	margin-top: 2px;
	margin-left: 48px;
}
.order_details>p b{
	float: left;
    font-size: 12px;
    padding: 0 10px;
    height: 20px;
    color: #666;
    background: #f2f2f2;
    margin-left: 25px;
    margin-top: 6px;
}
.order_details table{
	width: 100%;
}
.order_details table th{
	height: 30px;
	border: 1px solid #4a8bc2;
    color: #4a8bc2;
}
 .order_details table td{
	border: 1px solid #4a8bc2;
    height: 30px;
    text-align: center;
}  
.order_details table tr.tr_title{
	border: 1px solid #4a8bc2;
}
.order_details table tr.tr_title td{
	border: none;
    height: 18px;
    text-align: left;
    text-indent: 80px;
    background: #edf3f9;
}
.order_details table tr td a{
	margin-left: 30px;
}
.order_details table tr td.td_sub a{
    width: 50%;
    display: inline-block;
    margin: 0;
    padding:5px 0;
}
/*添加客户*/
.add_custmer{
	width: 478px;
	height: 510px;
	border: 1px solid #4a8bc2;
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	top:0;
	margin:auto;
	background:#fff;
}
.add_custmer>p.title{
	height: 30px;
	background:#4a8bc2;
	color:#fff;
	text-indent: 10px;
	line-height: 30px;
}
.add_custmer>p.title span{
	float: right;
	margin-right:10px;
	width:14px;
	height:14px;
	background:url(../imgs/common/close.png) no-repeat;
	margin-top:8px;
}
.add_custmer h4{
	height: 33px;
	line-height: 33px;
	text-indent: 18px;
	color:#666;
}
.add_custmer .add_con{
	padding:12px;
}
.add_custmer .add_con ul{
	width:50%;
	float: left;
}
.add_con ul li{
	margin-bottom:7px;
	color: #666666;
}
.add_con ul li label{
	float:left;
	width:74px;
	height: 24px;
	text-align: right;
	margin-right: 5px;
}
.add_con ul li input{
	width: 130px;
	height: 24px;
	border: 1px solid #4a8bc2;
	float: left;
	text-indent:10px;
}
.add_con ul li dl {
	width: 130px;
	cursor: pointer;
	float: left;
	position: relative;
	text-indent: 10px;
}
.add_con ul li dt {
	width: 130px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #4a8bc2;
	text-align: center;
	font-size: 12px;
	text-indent: 10px;
	background: url(../imgs/common/select.png) 115px 10px no-repeat;
}
.add_con ul li dd {
	width: 130px;
	position: absolute;
	top: 24px;
	text-align: center;
	line-height: 24px;
	z-index: 5;
	background: #fff;
	display: none;
	border:1px solid #4a8bc2;
	border-top: none;
	text-indent: 10px;
}
.add_con ul li dd p {
	height: 24px;
	text-indent: 10px;
}
.add_con ul li dd p:hover {
	background: #4a8bc2;
	color: #fff;
}
.add_con ul li textarea{
	width: 130px;
	height: 60px;
	border: 1px solid #4a8bc2;
	float: left;
}
.add_custmer .save{
	width: 120px;
	height: 30px;
	background: #4a8bc2;
	color:#fff;
	text-align: center;
	line-height: 30px;
	display: block;
	margin: auto;
}
/*业务类型*/
.p3{
	margin-top: 15px;
    padding-left: 100px;
}
.cont-addr1,.cont-addr2,.cont-addr3,.cont-addr4{
	width:102px;
	display:inline-block;
	position:relative;
	margin-right:6px;
	float:left; 
	cursor:pointer;
}
.cont-addr3{
	margin-left:80px;
	margin-top:10px;
}
.cont-addr4{
	margin-top:10px;
}
.cont-addr1 label,.cont-addr2 label,.cont-addr3 label,.cont-addr4 label{
	font-size: 12px;
    color: #f30;
    padding-left: 14px;
    background: url(../imgs/tips.png) no-repeat left;
}
.cont-addrSpan{
	float: left;
    line-height: 30px;
    width: 80px;
    text-align: center;
    background: #4a8bc2;
    color:#fff;
}
.cont-addr2,.cont-addr3,.cont-addr4{
	 display:none;
}
.cont-addr1 div,
.cont-addr2 div,
.cont-addr3 div,
.cont-addr4 div{
    position: absolute;
    z-index: 1;
    background: #fff;
    width:100px;
    left: 0px;
    border: 1px dashed #ccc;
    display: none;
    top: 29px;
    max-height: 200px;
    overflow: auto;
}
.p3 .cont-addr1  input,
.p3 .cont-addr2  input,
.p3 .cont-addr3  input,
.p3 .cont-addr4  input{
	text-indent: 10px;
	width: 100px;
	height:28px;
	line-height: 28px;
	left:0px;
	cursor:pointer;
	border:1px solid #4a8bc2;
	background: url(../imgs/common/select.png) no-repeat 95%;
}
.cont-addr1  div p,
.cont-addr2  div p,
.cont-addr3  div p,
.cont-addr4  div p{
    line-height: 25px;
    cursor: pointer;
    text-indent: 10px;
}
.cont-addr1  div p:hover,
.cont-addr1  div p.hover,
.cont-addr2  div p:hover,
.cont-addr2  div p.hover,
.cont-addr3  div p:hover,
.cont-addr3  div p.hover,
.cont-addr4  div p:hover,
.cont-addr4  div p.hover{
    background: #ccc;
}
